<h1> ついて ・ About </h1>
<div class="row">
<div class="col-12-md about">
  <section>
    <h1>Graph Theory</h1>
  </section>
  <section class="gray">
  <h1>Challenges</h1>
    <h4>Breadth-First Search</h2>
    <p>Implemented breadth-first search on backend and frontend</p>
  <legend>Scraper</legend>
  <p>Write small scraper for Kanji meanings.</p>
  <legend>Highlighting</legend>
  <p>Styling to highlight node's connectivity on hover.</p>
  <legend>Dynamic</legend>
  <p>Adjust dataset through buttons.</p>
  </section>
  <section>
    <h1>Conclusion (Singular)</h1>
  </section>
  <section class="gray">
    <h1>Creators</h1>
  </section>
  <%= link_to "<", directed_graph_large_path, :class => "navigation-left", :id => "about" %>
</div>
</div>
