<h1>Iteration 3</h1>
<div class="row">
  <div class="col-md-8" id="directed_graph_dynamic">
  </div>
  <div class="col-md-4 well stats" id="statistics">
    <h2>Dynamic Graph</h2>
    <ul class="list-unstyled">
      <li><h4>Click To Toggle Data</h4></li>
    </ul>
    <br>
    <br>
    <div class="bottom-section">
      <h4>Surnames:</h4>
      <% @surnames.each do |surname| %>
        <div class='ck-button'>
          <label class='ck-button'><input type="checkbox" name="name" class="name_checkbox" value="<%= surname.name %>" checked><span><%= surname.name %></span></label>
        </div>
      <% end %>
    </div>
    <%= link_to ">", directed_graph_large_path, :class => "navigation-right" %>
    <%= link_to "<", directed_graph_small_path, :class => "navigation-left" %>
  </div>
</div>

