<h1>二　Iteration 2</h1>
<div class="row">
  <div class="col-md-8" id="directed_graph_small">
  </div>
  <div class="col-md-4 well stats" id="statistics">
    <h2>Character <span style="white-space: nowrap">Co-occurrence</span></h2>
    <p>(drag nodes)</p>
    <%= link_to ">", add_and_remove_small_path, :class => "navigation-right" %>
    <%= link_to "<", histogram_path, :class => "navigation-left" %>
    <p class="footnote">*dataset: 10 common Japanese surnames</p>
  </div>
</div>

