<div class="row">
  <div class="col-md-8" id="directed_graph_small">
  </div>
  <div class="col-md-4 well" id="statistics">
    <h2>Statistics</h2>
    <ul class="list-unstyled">
      <li><h4>Nodes: <%= @nodes %></h4></li>
      <li><h4>Edges: <%= @edges %></h4></li>
      <li><h4>Components: <%= @components %></h4></li>
    </ul>
    <br>
    <br>
    <%= render :partial => 'surnames/remote_form' %>
  </div>
</div>
<div class="row">
  <div id="test">
    <svg width="100" height="100"><circle r="12" style="fill: white; stroke: rgb(75, 75, 75)" cx="30" cy="30" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></circle></svg>

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
  </div>
</div>
