<h1>Iteration 1</h1>
<div class="row">
  <div class="col-md-8" id="histogram">
    <div class="chart"></div>
  </div>
  <div class="col-md-4 well stats" id="statistics">
    <h2>CHARACTER FREQUENCY</h2>
    <ul class="list-unstyled">
      <li><h4>100 Most Common Japanese Surnames</h4></li>
    </ul>
    <br>
    <br>
    <%= link_to ">", directed_graph_small_path, :class => "navigation-right" %>
  </div>
</div>
