<%= form_for(@surname, :remote => true) do |f| %>
  <fieldset>
    <legend>New Surname</legend>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Add", :class => "btn btn-primary" %>
  </div>
</fieldset>
<% end %>
