// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// histogram css
.chart div {
  font: 10px sans-serif;
  background-color:rgba(170, 17, 17, 0.7);
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart span {
  float: right;
}

// directed graph css
g.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
  z-index: 100;
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


.link {
  fill: none;
  stroke: #ebebeb;
  stroke-width: 3px;
}

.link.active {
  stroke: #5d5d5d;
} 

#directed_graph_small, #directed_graph_dynamic {
  border: solid 2px #5d5d5d;
  padding: 0px;
  height: 509px;
}

#histogram, #directed_graph_large {
  border: solid 2px #5d5d5d;
  height: 509px;
  overflow: scroll;
  background-image: image-url("japan_flag.png");
  padding: 0px;
}

#statistics {
  height: 509px;
}

#kanjis {
  margin: 0px 0px;
}

#surnames {
  padding-bottom: 50px;
}
// checkbox css
.ck-button {
  margin:2px;
  background-color:#D3D3D3;
  border-radius:4px;
//  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
  font-weight: normal;
  font-size: 16px;
}

.ck-button label {
  float:left;
  width:4.0em;
  margin: 0;
  font-weight: normal;
}

.ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    height: 100%;
}

.ck-button label input {
    position:absolute;
    display: none;
}

.ck-button input:checked + span {
    background-color:rgba(170, 17, 17, 0.7);
    color:#efefef;
    font-size: 16px;
    font-weight: normal;
}

.well.stats {
  border-radius: 0;
}

.welcome {
  height: 509px;
  padding: 0px;
}

.caption {
  position: absolute;
  top: 300px;
}

.big-characters {
  font-size: 10em;
  position: relative;
  vertical-align: middle;
  text-align: center;
  line-height: 300px;
}

#small-characters {
  font-size: 3em;
  text-align: center;
}

#infinity {
  font-size: 10em;
  position: relative;
  vertical-align: middle;
  text-align: center;
  line-height: 200px;
}

#arrow {
  font-size: 2em;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 185px;
}

.bottom-section {
  position:absolute;
  bottom: 10px;
}

.strong {
  font-weight: bold;
}

a.navigation-right {
  right: -100px;
}

a.navigation-left {
  left: -870px;
}

a.navigation-right, a.navigation-left {
  font-size: 10em;
  position: absolute;
  top: 150px;
  color: #E7E7E7;
}

a.navigation-right:hover, a.navigation-left:hover {
  text-decoration: none;
  background-color: white;
  color: #F1CECD;
}

#objectives svg {
}

.footnote {
  position: absolute;
  bottom: 5px;
}

p.button-group-label {
  margin-bottom: 0px;
}

label.ck-button:hover {
  cursor:pointer;
}
