// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// histogram css
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart span {
  float: right;
}

// directed graph css

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ebebeb;
  stroke-width: 3px;
}
